@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }


  *{
    margin: 0;
  }

  .container{
    width: 80%;
    margin: 1rem auto;
  }

  .main {
    max-width: 992px;
  }


  .btn-primary{
        width: 220px;
        height: 50px;
        gap: 8px;
        padding: 0.7rem 1.2rem;
        background-color: #E6533C;
        border-radius: 40px;
        border: 1px solid #FF5400;
        color: white;
        font-weight: 800;
  }

  .btn-secondary{
    width: 220px;
    height: 50px;
    gap: 8px;
    padding: 0.7rem 1.2rem;
    background-color: black;
    border-radius: 40px;
    border: 1px solid white;
    color: white;
    font-weight: 800;
  }



/* shared styles */
.display-flex{
    display: flex;
}

.orange{
    color: #E6533C;
}

.white{
    color: white;
}

.back-grey{
    background-color: rgba(34, 34, 34, 1);
}

.back-black{
    background-color: black;
}
.grey{
    color: rgba(255, 255, 255, 0.5);
}

.header-white{
    color: white;
    font-size: 1.5rem;
}



  /*header section */
.header-main{
    background-color: black;
}


/* navigation bar */

.ham-burger{
    display: none;
}

.nav-bar{
    align-items: center;
    justify-content: space-between;
}


.nav-items{
    list-style: none;
    padding: 0;
    margin: 0;
  }

.nav-item{
    list-style: none;
    font-size: 18px;
    margin-left: 30px;
}

#live{
    color: white;
    font-weight: bolder;
    font-size: 2rem;    
}

.fa-solid{
    color: orangered;
    background-color: white;
    font-weight: bolder;
    font-size: 3rem;    

}

#fitness{
    color: #E6533C;
    font-style: italic;
    font-weight: bolder;
    font-size: 2rem;    
}


#home{
    border: 1px solid #E6533C;
    background-color: #E6533C;
    border-radius: 1.5rem;
}

.nav-items{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 30px 20px 0;
    background-color: black;
    border-radius: 1.5rem;
}


li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
}


/* banner styles */
.gradient{
    background-image: linear-gradient(0deg, rgba(66, 66, 66, 0.497), #111111);
    background-size: cover;
    background-repeat: no-repeat;
}


.banner-content{
    width: 100%;
}

.banner-header{
    font-size: 4rem;
    font-weight: 900;
    line-height: 6rem;
}

.banner-description{
    width: 30rem;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#shape{
    font-family: 'Miama', sans-serif;    
    font-weight: normal;  
    font-size: 9rem;  
    line-height: 1rem;  
}

.button{
    display: flex;
    width: 100%;
    gap: 1rem;
    margin: 20px auto;
}

/* change-your-habits */

.habit-container{
    display: flex;
    justify-content:space-evenly;
    align-content: space-between;
    align-items:center;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.change-your-habits{
    text-align: center;
    margin-top: 5rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

.habit-child{
    text-align: center;
}

.habit-image{
    border-radius: 50%;
}

.habit-head{
   margin-top: 0.5rem;
   margin-bottom: 0.3rem;
}

.habit-p{
    font-size: 0.7rem;

}


/* Run Mile */
.run-mile-container {
    width: 80%;
    height: 80%;
    margin: 5rem auto;
    justify-items:end;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: rgba(34, 34, 34, 1); 
    border-radius: 10px;
}

.text-align{
    width: 40%;
    height: auto;
    text-align: left;
    margin-left: 3rem;
}

.btn{
    margin-top: 2rem;
}

.run-mile-child > img{
    width: 65%;
    height: 65%;
    border: none;
    border-radius: 10px;
}


/* Fitness important */

.fitness-important{
    text-align: center;
}

.fitness-important-text{
    margin-top: 5rem;
    margin-bottom: 3rem;
}


/* BMI styles*/

.bmi-container{
    justify-content:space-around;
    gap: 10%;
}

.BMI{
    margin: 5rem 15rem;
    
}

.white-heading{
    color: #FFFFFF;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight:900;
}

.gray-p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
}

.bmi-container{
    background-color: #222222;
    padding: 5%;
}


.table, th, td{
    border: 0.3px rgba(255, 255, 255, 0.5) solid;
    border-collapse: collapse;
    padding: 0.8rem;
    margin: 0.5rem auto;
    margin-top: 3rem;
}

.calc-p{
    margin: 0.5rem auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-container{
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin-top: 5%;
}

.form-field{
    width: 100%;
}

.form-field > input, select{
    color: rgba(255, 255, 255, 0.6);
    background-color:rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 2.5rem;
    font-size: 16px;
    padding-left: 1%;
    border-radius: 8px;
    border: none;
}
.select{
    grid-column: span 2;
    width: 100%;
}


/* Info card */
.white1{
    font-weight:bolder;
    font-size:1.5rem;
    color: #FFFFFF;
}

.white2{
    font-weight: bolder;
    font-size: 2rem;
    color: #FFFFFF;
}

.dot{
    height: 2rem;
    width: 2rem;
    background-color:#FF5400;
    border-radius: 50%;
    display: inline-block;
}

.info-card{
    position: relative;
}

.info-card1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;    
    top: 65%;
    left: 15%;
    font-size: 10px;
    transform: translate(-70%, -1%);
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 40%;
    height: auto;
    padding: 0.8rem;
    border-radius: 4px;
}

.info-card2{
    position: absolute;   
    top: 23%;
    left: 90%;
    font-size: 10px;
    transform: translate(-70%, -1%);
    background-color: rgba(255, 255, 255, 0.1);
    width: 40%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: auto;
    padding: 0.6rem;
    border-radius: 6px;
}


/* Meet our TEam */

.meet-our-team-text{
    text-align: center;
}

.meet-our-team-pics{
    width: 80%;
    height: auto;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    background-color: rgba(34, 34, 34, 1); 
    border-radius: 15px;
    padding: 50px;
}


.team-img{
    width: 19rem;
    height: 15rem;
    padding: 10px;
    filter: brightness(70%);
}

.meet-our-team-text{
    margin: 5rem auto;
}

.trainer-card{
    position: relative;
}


.trainer{
    position: absolute;
    top: 85%;
    left: 25%;
    font-size: 10px;
    transform: translate(-85%, -25%);
}


/* Footer Section */

.live{
    color: white;
    font-weight: bolder;
    font-size: 3rem;    
}

.fitness{
    color: #E6533C;
    font-style: italic;
    font-weight: bolder;
    font-size: 3rem;    
}

.footer-p{
    margin-top: 1rem;
}

.footer-description{
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    margin: 3rem 0;
    line-height: 26px;
    padding: 1rem 0;
    margin: auto;
    width: 650px;
}

.get-started-header{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.get-started-p{
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    margin-left: 4rem;
    align-items: center;
    justify-items:center;
}

hr{
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    height: 4px;
    border: none;
}


/* media responsive */
@media screen and (max-width: 576px) {

    /* nav styles */

    .nav-bar{
        margin-top: 2rem;
    }
    #live{
        font-size: 1.5rem;    
    }

    #shape{
        font-size: 6rem;
    }

    .fa-solid{
        font-size: 1.5rem;    
    }
    
    #fitness{
        font-size: 1.5rem;    
    }

    .nav-items{
        display: none;
    }

    .ham-burger{
        display: block;
    }

    .fa-bars{
        color: white;
        background-color: black;  
    }

    /* nav ends here */


    /* banner */

    .banner-header{
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .banner-description{
        width: 15rem;
        margin-top: 0.7rem;
        line-height: 1.3rem;
    }
    .btn-primary{
        width: 100%;
        margin: 1rem auto;
        padding: 0.7rem 0.8rem;
    }
    .btn-secondary{
        width: 100%;
        margin: 1rem 0;
        padding: 0.7rem 0.8rem;
      }

      .info-card1{  
        top: 50%;
        left: 30%;
        padding: 0.5rem;
    }
    
    .info-card2{
        position: absolute;   
        top: 10%;
        left: 85%;
        padding: 0.3rem;
    }
    
   /* banner styles ends */


   /* fitness is important */
      .fitness-important-text{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .white-heading{
        font-size: 2rem;
    }

    .grey-p{
        font-size: 0.6rem;
    }

    .fitness-important-video >iframe{
        width: 90%;
        height: 13rem;
        margin-bottom: 2rem;
    }



     /* Change Your Habits Section  */

     .habit-child{
        margin-bottom: 2rem;
     }
    .banner{
        flex-direction: column;
    }

    .banner-content{
        margin-top: 2rem;
    }

    .change-your-habits{
        text-align:center;
        margin: 0 auto;
    }
    .habit-container{
        flex-direction: column;
        justify-items: center;
    }

    /* Run a mile section */
    .run-mile-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
    }
    .run-mile-child{
        width: 80%;
        margin: 1rem auto;
    }
    .run-mile-child>img{
        width: 100%;
    }

    /* BMI Calculator */
    .BMI{
        margin: 2rem auto;
        text-align: left;
        width: 80%;   
    }
    .bmi-container{
        flex-direction: column;
    }

    .form-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .calc-h{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .calc-p{
        margin-bottom: 2rem;
    }


    /* Meet our Team */
    .meet-our-team-text{
        width: 80%;
        height: auto;
        margin: 2rem auto;

    }
    .meet-our-team-pics{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        width: 80%;
        height: auto;
        margin: 1rem auto;
        padding: 10px;
    }
    
    .team-img{
        width: 90%;
        height: 15rem;
        padding: 10px;
        filter: brightness(70%);
    }
    
    /* Footer section */

    .live{
        font-size: 2rem;
    }
    .fitness{
        font-size: 2rem;
    }

    .footer-container{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 1rem;
        justify-items: left;
        margin-bottom: 1rem;
    }

    .footer-p{
        width: 80%;
        height: auto;
        margin-bottom: 1rem;
    }
    
    .footer-description{
        width: 90%;
        height: auto;
        text-align: left;
    }


    
    
    

}
